body{
	font-family: 'Lustria', serif;
	background-color: rgb(109,219,195);
}

h1{color:rgb(111,114,114);
	text-align:center;
}

h1{
	text-align: center;
}

h4{
	text-align:center;
}

h4{
	color:black;
}

a {text-align: right
}

#para{background-color:rgb(16,178, 143);}
#three{color:rgb(8, 140, 111);}
#PARA{font-weight: bold}
